In [24]:
import pandas as pd
df=pd.read_csv('online retail.csv',header=None)
df.head()

                                                   0
0  shrimp,almonds,avocado,vegetables mix,green gr...
1                             burgers,meatballs,eggs
2                                            chutney
3                                     turkey,avocado
4  mineral water,milk,energy bar,whole wheat rice...

In [21]:
df.shape

(7500, 1)

In [26]:
#CSV file doesn't have column headers, so assigning them manually:
df.columns = ['Item']

In [27]:
df['Items'] = df['Item'].str.split(',')

In [28]:
transaction_data = df['Items'].tolist()

In [43]:
df = pd.DataFrame(transaction_data )
print(df)
df.head()

                 0                  1            2                 3   \
0            shrimp            almonds      avocado    vegetables mix
1           burgers          meatballs         eggs              None
2           chutney               None         None              None
3            turkey            avocado         None              None
4     mineral water               milk   energy bar  whole wheat rice
...             ...                ...          ...               ...
7496         butter         light mayo  fresh bread              None
7497        burgers  frozen vegetables         eggs      french fries
7498        chicken               None         None              None
7499       escalope          green tea         None              None
7500           eggs    frozen smoothie  yogurt cake    low fat yogurt

                4                 5     6               7             8   \
0     green grapes  whole weat flour  yams  cottage cheese  energy drink
1             None              None  None            None          None
2             None              None  None            None          None
3             None              None  None            None          None
4        green tea              None  None            None          None
...            ...               ...   ...             ...           ...
7496          None              None  None            None          None
7497     magazines         green tea  None            None          None
7498          None              None  None            None          None
7499          None              None  None            None          None
7500          None              None  None            None          None

                9               10         11     12     13             14  \
0     tomato juice  low fat yogurt  green tea  honey  salad  mineral water
1             None            None       None   None   None           None
2             None            None       None   None   None           None
3             None            None       None   None   None           None
4             None            None       None   None   None           None
...            ...             ...        ...    ...    ...            ...
7496          None            None       None   None   None           None
7497          None            None       None   None   None           None
7498          None            None       None   None   None           None
7499          None            None       None   None   None           None
7500          None            None       None   None   None           None

          15                 16               17       18         19
0     salmon  antioxydant juice  frozen smoothie  spinach  olive oil
1       None               None             None     None       None
2       None               None             None     None       None
3       None               None             None     None       None
4       None               None             None     None       None
...      ...                ...              ...      ...        ...
7496    None               None             None     None       None
7497    None               None             None     None       None
7498    None               None             None     None       None
7499    None               None             None     None       None
7500    None               None             None     None       None

[7501 rows x 20 columns]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,chutney,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,turkey,avocado,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,mineral water,milk,energy bar,whole wheat rice,green tea,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [42]:
import pandas as pd

# Assuming you have a DataFrame named 'df'
df.to_csv('output.csv', index=False)

In [44]:
df1=pd.read_csv('output.csv')
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
trans=[]
for i in range(0,7501):
    trans.append([str(df.values[i,j])
                  for j in range(0,20)])
len(trans)

7501

In [48]:
trans[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [49]:
trans[1]

['burgers',
 'meatballs',
 'eggs',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None',
 'None']

In [45]:
pip install apyori

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: apyori in c:\users\user\appdata\roaming\python\python311\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [46]:
from apyori import apriori

In [51]:
rules=apriori(transactions=trans,min_support=0.003,min_confidence=0.2,min_lift=3,min_length=2,max_length=2)
rules

In [52]:
results=list(rules)
results

[RelationRecord(items=frozenset({'chicken', 'light cream'}), support=0.004532728969470737, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)]),
 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005732568990801226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.3006993006993007, lift=3.790832696715049)]),
 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005865884548726837, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.3728813559322034, lift=4.700811850163794)]),
 RelationRecord(items=frozenset({'honey', 'fromage blanc'}), support=0.003332888948140248, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fromage blanc'}), items_add=frozenset({'honey'}), confidence=0.2450980392156863, lift=5.164270764485569)]),
 RelationRecord(items=frozenset({'ground beef', 'herb & pepper'}), support=0.015997866951073192, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2919938411349285)]),
 RelationRecord(items=frozenset({'tomato sauce', 'ground beef'}), support=0.005332622317024397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'tomato sauce'}), items_add=frozenset({'ground beef'}), confidence=0.3773584905660377, lift=3.840659481324083)]),
 RelationRecord(items=frozenset({'light cream', 'olive oil'}), support=0.003199573390214638, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'olive oil'}), confidence=0.20512820512820515, lift=3.1147098515519573)]),
 RelationRecord(items=frozenset({'whole wheat pasta', 'olive oil'}), support=0.007998933475536596, ordered_statistics=[OrderedStatistic(items_base=frozenset({'whole wheat pasta'}), items_add=frozenset({'olive oil'}), confidence=0.2714932126696833, lift=4.122410097642296)]),
 RelationRecord(items=frozenset({'pasta', 'shrimp'}), support=0.005065991201173177, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'shrimp'}), confidence=0.3220338983050847, lift=4.506672147735896)])]

In [53]:
len(results)

9

In [54]:
results[0]

RelationRecord(items=frozenset({'chicken', 'light cream'}), support=0.004532728969470737, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)])

In [59]:
print("support=",results[0][1])

support= 0.004532728969470737

In [58]:
print("base item=",results[0][2][0][0])

base item= frozenset({'light cream'})

In [62]:
print("Add item=",results[0][2][0][1])

Add item= frozenset({'chicken'})

In [63]:
print("confidence=",results[0][2][0][2])

confidence= 0.29059829059829057

In [64]:
print("Lift=",results[0][2][0][3])

Lift= 4.84395061728395

In [65]:
a=[]
b=[]
c=[]
d=[]
e=[]
for i in range(0,9):
    c.append(results[i][1])
    a.append(results[i][2][0][0])
    b.append(results[i][2][0][1])
    d.append(results[i][2][0][2])
    e.append(results[i][2][0][3])

In [70]:
d1=pd.DataFrame(a)
d2=pd.DataFrame(b)
d3=pd.DataFrame(c)
d4=pd.DataFrame(d)
d5=pd.DataFrame(e)

In [71]:
new_data=pd.concat([d1,d2,d3,d4,d5],axis=1)

In [72]:
new_data.columns=['Base item','Add item','Support','Confidence','lift']

In [73]:
new_data.head()

              Base item     Add item   Support  Confidence      lift
0           light cream      chicken  0.004533    0.290598  4.843951
1  mushroom cream sauce     escalope  0.005733    0.300699  3.790833
2                 pasta     escalope  0.005866    0.372881  4.700812
3         fromage blanc        honey  0.003333    0.245098  5.164271
4         herb & pepper  ground beef  0.015998    0.323450  3.291994