In [2]:
import pandas as pd
df=pd.read_csv("sales_data_with_discounts.csv")
df.shape

(450, 13)

In [3]:
df.head()

,Date,Day,SKU,City,Volume,BU,Brand,Model,Avg Price,Total Sales Value,Discount Rate (%),Discount Amount,Net Sales Value
0,01-04-2021,Thursday,M01,C,15,Mobiles,RealU,RU-10,12100,181500,11.654820,21153.498820,160346.501180
1,01-04-2021,Thursday,M02,C,10,Mobiles,RealU,RU-9 Plus,10100,101000,11.560498,11676.102961,89323.897039
2,01-04-2021,Thursday,M03,C,7,Mobiles,YouM,YM-99,16100,112700,9.456886,10657.910157,102042.089843
3,01-04-2021,Thursday,M04,C,6,Mobiles,YouM,YM-99 Plus,20100,120600,6.935385,8364.074702,112235.925298
4,01-04-2021,Thursday,M05,C,3,Mobiles,YouM,YM-98,8100,24300,17.995663,4372.946230,19927.053770

In [35]:
#Mean,mode,standard deviation of all numeric columns
#Volume
X=df['Volume'].mean()
print("the overall Average volume of goods sold :",X)
X1=df['Volume'].mode().iloc[0]
#iloc[0] returns the most frequent value from the list of most frequent values.without this we get all the frequent values in the output
print("frequent sales volume: ",X1)
X2=df['Volume'].std()
print("the deviation of sales volume from the average sales volume is ",X2)

the overall Average volume of goods sold : 5.066666666666666
frequent sales volume:  3
the deviation of sales volume from the average sales volume is  4.231602391213926

In [30]:
#Avg price is an average price per unit sold
x=df['Avg Price'].mean()
print("the overall average price at which items were sold:",X)
X1=df['Avg Price'].mode().iloc[0]
print("The price at which single item was sold more often:",X1)
x2=df['Avg Price'].std()
print("Avg price varies significantly across transactions by",X2)

the overall average price at which items were sold: 5.066666666666666
The price at which single item was sold more often: 400
Avg price varies significantly across transactions by 4.231602391213926

In [31]:
#Total Sales Value
x=df['Total Sales Value'].mean()
print("the overall average  Sales Value before discount:",X)
X1=df['Total Sales Value'].mode().iloc[0]
print("The sales value often across transaction:",X1)
x2=df['Total Sales Value'].std()
print("the total sales value deviates from average sales value by",X2)

the overall average  Sales Value before discount: 5.066666666666666
The sales value often across transaction: 24300
the total sales value deviates from average sales value by 4.231602391213926

In [32]:
#Discount Rate (%)
x=df['Discount Rate (%)'].mean()
print("the overall average  Discount Rate (%):",X)
X1=df['Discount Rate (%)'].mode().iloc[0]
print("Most frequently applied discount rate:",X1)
x2=df['Discount Rate (%)'].std()
print("Discount Rate  deviates from average Discount Rate by",X2)

the overall average  Discount Rate (%): 5.066666666666666
Most frequently applied discount rate: 5.007822189204133
Discount Rate  deviates from average Discount Rate by 4.231602391213926

In [33]:
#Discount Amount
x=df['Discount Amount'].mean()
print("the overall average  Discount Amount across transaction:",X)
X1=df['Discount Amount'].mode().iloc[0]
print("Most frequent Discount Amount across transactions:",X1)
x2=df['Discount Amount'].std()
print("the Discount Amount  deviates from average Discount Amount by",X2)

the overall average  Discount Amount across transaction: 5.066666666666666
Most frequent Discount Amount across transactions: 69.17794228822787
the Discount Amount  deviates from average Discount Amount by 4.231602391213926

In [34]:
#Net Sales Value
x=df['Net Sales Value'].mean()
print("the overall average  Net Sales Value per transaction:",X)
X1=df['Net Sales Value'].mode().iloc[0]
print("Most frequent Net Sales Value across transactions:",X1)
x2=df['Net Sales Value'].std()
print("the Net Sales Value  deviates from average Net Sales Value by",X2)

the overall average  Net Sales Value per transaction: 5.066666666666666
Most frequent Net Sales Value across transactions: 326.97480055470817
the Net Sales Value  deviates from average Net Sales Value by 4.231602391213926

In [36]:
#To get all the statistical values  of all the columns
df.describe()

,Volume,Avg Price,Total Sales Value,Discount Rate (%),Discount Amount,Net Sales Value
count,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000
mean,5.066667,10453.433333,33812.835556,15.155242,3346.499424,30466.336131
std,4.231602,18079.904840,50535.074173,4.220602,4509.902963,46358.656624
min,1.000000,290.000000,400.000000,5.007822,69.177942,326.974801
25%,3.000000,465.000000,2700.000000,13.965063,460.459304,2202.208645
50%,4.000000,1450.000000,5700.000000,16.577766,988.933733,4677.788059
75%,6.000000,10100.000000,53200.000000,18.114718,5316.495427,47847.912852
max,31.000000,60100.000000,196400.000000,19.992407,25738.022194,179507.479049